/* src/QuizCard.css */

.quiz-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 150px;
  }
  
  .quiz-card p {
    font-weight: bold;
  }
  
  .quiz-card label {
    display: block;
    margin: 5px 0;
  }

  /* qcard.css */
.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.correct-answer-text {
  color: red;
}

/* Add styles for correct and incorrect card states */
.quiz-card.correct {
  border: 2px solid green;
}

.quiz-card.incorrect {
  border: 2px solid red;
}

  